__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
.backend-venv/

build/
dist/

# Config
.env
.env.*
config_client.json
config_server.json
config_backend.json

# Temporary keys for testing purposes
*.pem

# NodeJS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/dist/
.next/
out/
.vite/
