__pycache__/
*.py[cod]
*$py.class

venv/
.venv/

build/
dist/

.env
.env.*

# Temporary keys for testing purposes
*.pem

# NodeJS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/dist/
.next/
out/
.vite/
